<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>民师家教</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="mycss/signin.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="user_name" class="sr-only">用户名</label>
        <input type="text" id="user_name" class="form-control" placeholder="用户名" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="密码" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button id="loginbtn" type="button" class="btn btn-lg btn-info btn-block">登录</button>
      </form>

    </div> <!-- /container -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script>
      $(document).ready(function () {
          //登录按钮事件
          /**
           * 点击登录按钮，触发事件，发起一个ajax请求，请求参数为用户名和密码，后台处理，
           * 返回数据，根据返回的数据做跳转
           */

          $("#loginbtn").click(function () {
              $.post("/login",{
                  userName:$("#user_name").val(),
                  pwd:$("#password").val()
              },function (data) {
                  if(data.code == '200'){
                      if(data.data == "techer"){
                          window.location.href = "persontecherhtml";
                      }else if(data.data == "student"){
                          window.location.href = "personstudenthtml";
                      }else if(data.data == "admin"){
                          window.location.href = "adminhtml";
                      }
                  }else{
                      alert("请检查您的用户名和密码！");
                  }

              })
          })
      })
    </script>
  </body>
</html>
